<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
	
	<description>Spring public configuration file</description>
	
	<!-- Annotation way configuration -->
	<context:component-scan base-package="com.netease.learn" />
	

	<!-- Defines the properties path which related to the environment closely. -->
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:database.properties</value>
			</list>
		</property>
	</bean>
	
	
	
	<bean id="messageSource"   
	    class="org.springframework.context.support.ResourceBundleMessageSource">  
	    <property name="basenames">  
	        <list>
	            <value>messages_zh_CN</value>
	        </list>
	    </property>
	</bean>
	
</beans>