<?xml version = "1.0" encoding = "UTF-8"  ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.netease.okr.mapper.okr.DateInfoMapper">

	<cache type="org.mybatis.caches.ehcache.EhcacheCache"/>
	
	<resultMap type="com.netease.okr.model.entity.DateInfo" id="DateInfoResultMap">
		<id column="id" property="id"/>
		<result column="year" property="year"/>
		<result column="month" property="month"/>
		<result column="week" property="week"/>
		<result column="start_date" property="startDate"  />
		<result column="end_date" property="endDate"  />
	</resultMap>
	
	<resultMap type="com.netease.okr.model.entity.DateInfo" id="DateTabResultMap">
		<id column="id" property="id"/>
		<result column="year" property="year"/>
		<result column="date_class" property="dateClass"/>
		<result column="display" property="display"/>
		<result column="type" property="type"  />
	</resultMap>
	
	<sql id="selectedDateInfoColumns">
		id,
		year,
		month,
		week,
		start_date,
		end_date
	</sql>
	
	<sql id="selectedDateTabColumns">
		id,
		year,
		date_class,
		display,
		type
	</sql>
	
	
	<select id="getClassDateByModel" resultMap="DateInfoResultMap">
		select
		<include refid="selectedDateTabColumns"></include>
		from tb_date_tab
		where type=#{type}
		order by display 
	</select>
	
	<select id="getClassDateById" resultMap="DateInfoResultMap">
		select
		<include refid="selectedDateTabColumns"></include>
		from tb_date_tab
		where id=#{id}
	</select>
	
	<select id="getAllDateInfo" resultMap="DateInfoResultMap">
		select
		<include refid="selectedDateInfoColumns"></include>
		from tb_date_info
		where 1=1
		<![CDATA[ and start_date>date_add(now(),interval -2 month) and start_date<now() ]]>
		order by id desc
	</select>
	
	<select id="getCurDateInfo" resultMap="DateInfoResultMap">
		select
		<include refid="selectedDateInfoColumns"></include>
		from tb_date_info
		where 
		<![CDATA[ start_date<=#{curDate} and end_date >= #{curDate} ]]>
	</select>
	
	<select id="getMonth" resultType="java.lang.String" parameterType="com.netease.okr.model.entity.DateInfo">
		select
		month
		from tb_date_info where year = #{year} and week = #{week}
	</select>
	
	<select id="getDateId" resultType="int" parameterType="com.netease.okr.model.entity.DateInfo">
		select
		id
		from tb_date_info where year = #{year} and week = #{week}
	</select>
	
	
	<insert id="addDateInfo" parameterType="com.netease.okr.model.entity.DateInfo">
		insert into tb_date_info(
			id,
			<if test="year!=null and year!=''">year,</if>
			<if test="month!=null and month!=''">month,</if>
			<if test="week!=null and week!=''">week,</if>
			<if test="startDate!=null">start_date,</if>
			<if test="endDate!=null">end_date</if>
		)
		values(
			#{id},
			<if test="year!=null and year!=''">#{year},</if>
			<if test="month!=null and month!=''">#{month},</if>
			<if test="week!=null and week!=''">#{week},</if>
			<if test="startDate!=null">#{startDate},</if>
			<if test="endDate!=null">#{endDate}</if>

		)
	</insert>
	
</mapper>