<?xml version = "1.0" encoding = "UTF-8"  ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.netease.okr.mapper.okr.DeptMapper">

	<cache type="org.mybatis.caches.ehcache.EhcacheCache"/>

	<resultMap type="com.netease.okr.model.entity.Dept" id="DeptResultMap">
		<id column="id" property="id"/>
		<result column="name" property="name"/>
		<result column="name_en" property="nameEn"/>
		<result column="level" property="level"/>
		<result column="parent_id" property="parentId"/>
		<result column="display_order" property="displayOrder"/>
		<result column="ehr_dept_id" property="ehrDeptId"/>
		<result column="status" property="status"/>
		<result column="dept_leader_u_no" property="deptLeaderUNo"/>
		<result column="dept_hr_u_no" property="deptHrUNo"/>
	</resultMap>
	
	<sql id="selectedDeptColumns">
		id,
		name,
		name_en,
		level,
		parent_id,
		display_order,
		ehr_dept_id,
		status,
		dept_leader_u_no,
		dept_hr_u_no
	</sql>
	
	<select id="getDeptById" resultMap="DeptResultMap">
		select
		<include refid="selectedDeptColumns"></include>
		from tb_dept
		where id=#{id}
	</select>
	
	<select id="getDeptListByLevel" resultMap="DeptResultMap">
		select
		<include refid="selectedDeptColumns"></include>
		from tb_dept
		where level=#{level}
	</select>
	
	<select id="getDeptListByParentId" resultMap="DeptResultMap">
		select
		<include refid="selectedDeptColumns"></include>
		from tb_dept
		where parent_id=#{parentId}
	</select>
	
	<insert id="addDept" parameterType="com.netease.okr.model.entity.Dept" useGeneratedKeys="true" keyProperty="id">
		insert into tb_dept(
			id,
			<if test="ehrDeptId!=null and ehrDeptId!=''">ehr_dept_id,</if>
			<if test="deptLeaderUNo!=null and deptLeaderUNo!=''">dept_leader_u_no,</if>
			<if test="deptHrUNo!=null and deptHrUNo!='' ">dept_hr_u_no,</if>
			<if test="level!=null">level,</if>
			<if test="parentId!=null">parent_id,</if>
			<if test="status!=null">status,</if>
			create_time,
			modify_time,
			name
		)
		values(
			#{id},
			<if test="ehrDeptId!=null and ehrDeptId!=''">#{ehrDeptId},</if>
			<if test="deptLeaderUNo!=null and deptLeaderUNo!=''">#{deptLeaderUNo},</if>
			<if test="deptHrUNo!=null and deptHrUNo!='' ">#{deptHrUNo},</if>
			<if test="level!=null">#{level},</if>
			<if test="parentId!=null">#{parentId},</if>
			<if test="status!=null">#{status},</if>
			now(),
			now(),
			#{name}
		)
	</insert>
	
	<delete id="deleteDept">
		delete from tb_dept 
	</delete>
	
</mapper>