<?xml version = "1.0" encoding = "UTF-8"  ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.netease.okr.mapper.okr.KeyResultMapper">


	<resultMap type="com.netease.okr.model.entity.KeyResult" id="KeyResultResultMap">
		<id column="id" property="id"/>
		<result column="key_result_name" property="keyResultName"/>
		<result column="key_result_code" property="keyResultCode"/>
		<result column="objectives_id" property="objectivesId"/>
		<result column="status" property="status"/>
		<result column="is_valid" property="isValid"/>
		<result column="is_week" property="isWeek"/>
		<result column="code_num" property="codeNum"/>
		<result column="modify_time" property="modifyTime"  />
		<result column="create_time" property="createTime"  />
	</resultMap>
	
	<sql id="selectedKeyResultColumns">
		t.id,
		t.key_result_name,
		t.key_result_code,
		t.objectives_id,
		t.status,
		t.code_num,
		t.is_valid,
		t.is_week,
		t.modify_time,
		t.create_time
	</sql>
	
	<!-- 根据目标id查询关键事件-->
	<select id="getKeyResultListByoId" resultMap="KeyResultResultMap">
		select
		<include refid="selectedKeyResultColumns"></include>
		from tb_key_result  t
		where is_valid = 1 and objectives_id=#{objectivesId}
		order by t.code_num 
	</select>
	
	<!-- 根据目标id查询不包含已完成和已终止的事件-->
	<select id="getNormalKeyResultListByoId" resultMap="KeyResultResultMap">
		select
		<include refid="selectedKeyResultColumns"></include>
		from tb_key_result  t
		where is_valid = 1 and objectives_id=#{objectivesId} and status in(0,1)
		order by t.code_num 
	</select>
	
	<!-- 查询已开始的关键事件数量-->
	<select id="getKeyResultNumOfStart" resultType="int">
		select
		count(1)
		from tb_key_result  t
		where is_valid = 1 and objectives_id=#{objectivesId} and t.status = 1
	</select>
	
	<!-- 获取下一个编号-->
	<select id="getNextCodeNum" resultType="int">
		select
		ifnull(MAX(code_num),0)+1
		from tb_key_result
		where objectives_id=#{objectivesId}
	</select>
	
	<!-- 根据周报id查询关键事件-->
	<select id="getKeyResultListByWeekReportId" resultMap="KeyResultResultMap">
		select
		<include refid="selectedKeyResultColumns"></include>
		from tb_key_result t
		left join tb_week_report_rel tl on t.id = tl.key_result_id
		where  tl.week_report_id=#{weekReportId}
		order by t.code_num 
	</select>
	
	
	
	<insert id="addKeyResult" parameterType="com.netease.okr.model.entity.KeyResult" useGeneratedKeys="true" keyProperty="id">
		insert into tb_key_result(
			id,
			<if test="keyResultName!=null and keyResultName!=''">key_result_name,</if>
			<if test="keyResultCode!=null and keyResultCode!=''">key_result_code,</if>
			<if test="objectivesId!=null">objectives_id,</if>
			<if test="status!=null">status,</if>
			<if test="codeNum!=null">code_num,</if>
			create_time,
			modify_time
		)
		values(
			#{id},
			<if test="keyResultName!=null and keyResultName!=''">#{keyResultName},</if>
			<if test="keyResultCode!=null and keyResultCode!=''">#{keyResultCode},</if>
			<if test="objectivesId!=null">#{objectivesId},</if>
			<if test="status!=null">#{status},</if>
			<if test="codeNum!=null">#{codeNum},</if>
			now(),
			now()
		)
	</insert>
	
	<update id="updateKeyResult" parameterType="com.netease.okr.model.entity.KeyResult">
		update tb_key_result
		<set> 
			<if test="keyResultName!=null and keyResultName!=''">key_result_name = #{keyResultName},</if>
			<if test="status!=null">status = #{status},</if>
			<if test="isWeek!=null">is_week = #{isWeek},</if>
			modify_time = now()
		</set>
		where id=#{id}
	</update>
	
	
	<update id="updateKeyResultStatus" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" separator=";">
			update tb_key_result set status = #{item.status}
			<if test="item.isWeek!=null">,is_week = #{item.isWeek}</if>
			where id = #{item.id}
		</foreach>
		 
	</update>
	
	<delete id="deleteKeyResult">
		delete from tb_key_result  where id=#{id}
	</delete>
	
	<delete id="deleteKeyResultByoId">
		delete from tb_key_result where objectives_id=#{objectivesId}
	</delete>

	
	
	<!-- ******************************** tb_key_keysult_score ***************************-->
	
	<!-- 根据目标id查询关键事件-->
	<select id="getKeyResultScoreListByObjectivesId" resultType="com.netease.okr.model.entity.KeyResult">
		select
		t.id,
		t.key_result_name,
		t.key_result_code,
		t.objectives_id,
		t.status,
		t.code_num,
		t.is_valid,
		t.is_week,
		t.modify_time,
		t.create_time,
		tk.score
		from tb_key_result_score ts
		LEFT JOIN tb_key_result t on t.id = ts.key_result_id
		where t.objectives_id = #{objectivesId}
	</select>
	
	<delete id="deleteKeyResultScore">
		delete from tb_key_result_score where summary_id = #{summaryId}
	</delete>
	
	<insert id="addKeyResultScore" parameterType="com.netease.okr.model.entity.KeyResultScore" useGeneratedKeys="true" keyProperty="id">
		insert into tb_key_result_score(
			id,
			<if test="keyResultId!=null ">key_result_id,</if>
			<if test="summaryId!=null ">summary_id,</if>
			<if test="score!=null and score!=''">score,</if>
			create_time,
			modify_time
		)
		values(
			#{id},
			<if test="keyResultId!=null ">#{keyResultId},</if>
			<if test="summaryId!=null ">#{summaryId},</if>
			<if test="score!=null and score!=''">#{score},</if>
			now(),
			now()
		)
	</insert>
	
	<select id="getObjectivesSummarylistBySummaryId" resultType="com.netease.okr.model.entity.ObjectivesSummary">
		select
		id,key_result_id keyResultId,summary_id summaryId,score,modify_time modifyTime,create_time createTime
		from tb_key_result_score
		where summary_id=#{summaryId}
	</select>
	
</mapper>