<?xml version = "1.0" encoding = "UTF-8"  ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.netease.okr.mapper.okr.ObjectivesMapper">

	
	<!--查询包含所有状态的事件-->
	<resultMap type="com.netease.okr.model.entity.Objectives" id="ObjectivesResultMap">
		<id column="id" property="id"/>
		<result column="objectives_name" property="objectivesName"/>
		<result column="objectives_dsc" property="objectivesDsc"/>
		<result column="objectives_detail" property="objectivesDetail"/>
		<result column="objectives_code" property="objectivesCode"/>
		<result column="user_id" property="userId"/>
		<result column="is_valid" property="isValid"/>
		<result column="code_num" property="codeNum"/>
		<result column="modify_time" property="modifyTime"  />
		<result column="create_time" property="createTime"  />
		<result column="complete" property="complete"  />
		
		<collection property="keyResultList" ofType="com.netease.okr.model.entity.KeyResult" column="id" select="com.netease.okr.mapper.okr.KeyResultMapper.getKeyResultListByoId"></collection>
		<collection property="appendixList" ofType="com.netease.okr.model.entity.Appendix" column="id" select="com.netease.okr.mapper.okr.AppendixMapper.getAppendixRelList"></collection>
	</resultMap>
	
	<!--查询不包含已完成和已终止的事件-->
	<resultMap type="com.netease.okr.model.entity.Objectives" id="ObjectivesListResultMap">
		<id column="id" property="id"/>
		<result column="objectives_name" property="objectivesName"/>
		<result column="objectives_dsc" property="objectivesDsc"/>
		<result column="objectives_detail" property="objectivesDetail"/>
		<result column="objectives_code" property="objectivesCode"/>
		<result column="user_id" property="userId"/>
		<result column="is_valid" property="isValid"/>
		<result column="code_num" property="codeNum"/>
		<result column="modify_time" property="modifyTime"  />
		<result column="create_time" property="createTime"  />
		<result column="complete" property="complete"  />
		
		<collection property="keyResultList" ofType="com.netease.okr.model.entity.KeyResult" column="id" select="com.netease.okr.mapper.okr.KeyResultMapper.getNormalKeyResultListByoId"></collection>
	</resultMap>
	
	<!--基础信息不包含集合信息-->
	<resultMap type="com.netease.okr.model.entity.Objectives" id="ObjectivesInfoResultMap">
		<id column="id" property="id"/>
		<result column="objectives_name" property="objectivesName"/>
		<result column="objectives_dsc" property="objectivesDsc"/>
		<result column="objectives_detail" property="objectivesDetail"/>
		<result column="objectives_code" property="objectivesCode"/>
		<result column="user_id" property="userId"/>
		<result column="userName" property="userName"/>
		<result column="is_valid" property="isValid"/>
		<result column="code_num" property="codeNum"/>
		<result column="modify_time" property="modifyTime"  />
		<result column="create_time" property="createTime"  />
		<result column="complete" property="complete"  />
	</resultMap>
	
	<sql id="selectedObjectivesColumns">
		id,
		objectives_name,
		objectives_dsc,
		objectives_detail,
		objectives_code,
		user_id,
		is_valid,
		code_num,
		complete,
		modify_time,
		create_time
	</sql>
	
	
	<!-- 根据Id查询目标 -->
	<select id="getObjectivesById" resultMap="ObjectivesResultMap">
		select
		<include refid="selectedObjectivesColumns"></include>
		from tb_objectives
		where id=#{id}
	</select>
	
	<!-- 根据Id查询目标简单信息 -->
	<select id="getObjectivesInfoById" resultMap="ObjectivesInfoResultMap">
		select
		<include refid="selectedObjectivesColumns"></include>
		from tb_objectives
		where id=#{id}
	</select>
	
	<!-- 根据Id查询目标简单信息 -->
	<select id="getObjectivesInfoByUserId" resultMap="ObjectivesInfoResultMap">
		select
		<include refid="selectedObjectivesColumns"></include>
		from tb_objectives
		where is_valid = 1 and user_id=#{userId}
	</select>
	
	<!-- 查询员工的okr-->
	<select id="getMyOkrList" resultMap="ObjectivesResultMap">
		select
		<include refid="selectedObjectivesColumns"></include>
		from tb_objectives
		where is_valid = 1 and user_id=#{userId}
		order by code_num desc
	</select>
	
	<!-- 查询员工不包含已完成和已终止事件的的okr-->
	<select id="getMyNormalOkrList" resultMap="ObjectivesListResultMap">
		select
		<include refid="selectedObjectivesColumns"></include>
		from tb_objectives
		where is_valid = 1 and user_id=#{userId}
		order by code_num desc
	</select>
	
	<!-- 获取下一个编号-->
	<select id="getNextCodeNum" resultType="int">
		select
		ifnull(MAX(code_num),0)+1
		from tb_objectives
		where user_id=#{userId}
	</select>
	
	
	<!-- 获取员工目标数量-->
	<select id="getObjectivesCount" resultType="int">
		select count(1) 
		from tb_objectives 
		where is_valid = 1 and
		user_id=#{userId}
	</select>
	
	
	<insert id="addObjectives" parameterType="com.netease.okr.model.entity.Objectives" useGeneratedKeys="true" keyProperty="id">
		insert into tb_objectives(
			id,
			<if test="objectivesName!=null and objectivesName!=''">objectives_name,</if>
			<if test="objectivesDsc!=null and objectivesDsc!=''">objectives_dsc,</if>
			<if test="objectivesCode!=null and objectivesCode!=''">objectives_code,</if>
			<if test="objectivesDetail!=null and objectivesDetail!=''">objectives_detail,</if>
			<if test="userId!=null">user_id,</if>
			<if test="codeNum!=null">code_num,</if>
			<if test="complete!=null and complete!=''">complete,</if>
			create_time,
			modify_time
		)
		values(
			#{id},
			<if test="objectivesName!=null and objectivesName!=''">#{objectivesName},</if>
			<if test="objectivesDsc!=null and objectivesDsc!=''">#{objectivesDsc},</if>
			<if test="objectivesCode!=null and objectivesCode!=''">#{objectivesCode},</if>
			<if test="objectivesDetail!=null and objectivesDetail!=''">#{objectivesDetail},</if>
			<if test="userId!=null">#{userId},</if>
			<if test="codeNum!=null">#{codeNum},</if>
			<if test="complete!=null and complete!=''">#{complete},</if>
			now(),
			now()
		)
	</insert>
	
	
	<update id="updateObjectives" parameterType="com.netease.okr.model.entity.Objectives">
		update tb_objectives
		<set> 
			<if test="objectivesName!=null and objectivesName!=''">objectives_name = #{objectivesName},</if>
			<if test="objectivesDsc!=null and objectivesDsc!=''">objectives_dsc = #{objectivesDsc},</if>
			<if test="objectivesDetail!=null and objectivesDetail!=''">objectives_detail = #{objectivesDetail},</if>
			<if test="complete!=null and complete!=''">complete = #{complete},</if>
			modify_time = now()
		</set>
		where id=#{id}
	</update>

	<delete id="deleteObjectives">
		delete from tb_objectives where id=#{id}
	</delete>
	
	
	
	
	<!-- ***************************objectives_summary***************************** -->
	
	
	
	<delete id="deleteObjectivesSummary">
		delete from tb_objectives_summary where summary_id = #{summaryId}
	</delete>
	
	<insert id="addObjectivesSummary" parameterType="com.netease.okr.model.entity.ObjectivesSummary" useGeneratedKeys="true" keyProperty="id">
		insert into tb_objectives_summary(
			id,
			<if test="objectivesId!=null ">objectives_id,</if>
			<if test="summaryId!=null ">summary_id,</if>
			<if test="complete!=null and complete!=''">complete,</if>
			create_time,
			modify_time
		)
		values(
			#{id},
			<if test="objectivesId!=null ">#{objectivesId},</if>
			<if test="summaryId!=null ">#{summaryId},</if>
			<if test="complete!=null and complete!=''">#{complete},</if>
			now(),
			now()
		)
	</insert>
	<select id="getObjectivesSummarylistBySummaryId" resultType="com.netease.okr.model.entity.ObjectivesSummary">
		select
		id,objectives_id objectivesId,summary_id summaryId,complete,modify_time modifyTime,create_time createTime
		from tb_objectives_summary
		where summary_id=#{summaryId}
	</select>
	

	
</mapper>