<?xml version = "1.0" encoding = "UTF-8"  ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.netease.okr.mapper.okr.RoleMapper">

	<cache type="org.mybatis.caches.ehcache.EhcacheCache"/>

	<resultMap id="RoleResultMap" type="com.netease.okr.model.entity.security.Role">
		<id column="id" property="id"/>
		<result column="name" property="name"/>
		<result column="name_cn" property="nameCn"/>
	</resultMap>

	<select id="getRolesByUserId" resultMap="RoleResultMap">
		select 
		tr.id,
		tr.name,
		tr.name_cn nameCn
		from tb_user_role tu 
		LEFT JOIN tb_role tr on tu.role_id = tr.id
		where tu.user_id = #{userId}
		order by tr.id asc
	</select>
	
	
</mapper>