<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.netease.okr.mapper.okr.TaskLockMapper">

	<!-- 获取职位同步锁 -->
	<select id="peekLock" parameterType="java.lang.String" resultType="java.lang.Integer">
		SELECT lock_version FROM tb_task_lock WHERE task_code=#{code} AND is_lock=0
	</select>

	<!-- 更新职位同步锁 -->
	<update id="gainLock">
		UPDATE tb_task_lock
		SET lock_version=lock_version+1, update_time=now(), is_lock=1
		WHERE lock_version=#{lock} AND task_code=#{code} AND is_lock=0
	</update>
	
	<!-- 释放锁 -->
	<update id="releaseLock">
		UPDATE tb_task_lock
		SET update_time=now(), is_lock=0
		WHERE task_code=#{code}
	</update>
</mapper>