<?xml version = "1.0" encoding = "UTF-8"  ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.netease.okr.mapper.okr.WeekReportMapper">


	<resultMap type="com.netease.okr.model.entity.WeekReport" id="WeekReportResultMap">
		<id column="id" property="id"/>
		<result column="content" property="content"/>
		<result column="status" property="status"/>
		<result column="user_id" property="userId"/>
		<result column="modify_time" property="modifyTime"  />
		<result column="create_time" property="createTime"  />
		
		<result column="date_id" property="dateId"/>
		<result column="year" property="year"/>
		<result column="month" property="month"/>
		<result column="week" property="week"/>
		<result column="start_date" property="startDate"  />
		<result column="end_date" property="endDate"  />
		
		<collection property="keyResultList" ofType="com.netease.okr.model.entity.KeyResult" column="id" select="com.netease.okr.mapper.okr.KeyResultMapper.getKeyResultListByWeekReportId"></collection>
		<collection property="appendixList" ofType="com.netease.okr.model.entity.Appendix" column="id" select="com.netease.okr.mapper.okr.AppendixMapper.getAppendixByWeekReportId"></collection>
	</resultMap>
	
	<sql id="selectedWeekReportColumns">
		t.id,
		t.content,
		t.status,
		t.modify_time,
		t.user_id,
		t.create_time,
		t.date_id,
		
		d.year,
		d.month,
		d.week,
		d.start_date,
		d.end_date
	</sql>
	
	<sql id="weekReporJoinCon">
		left outer join tb_date_info d on d.id=t.date_id
	</sql>
	
	<sql id="weekReporWhere">
		<where> 
			<if test="status!=null">and t.status = #{status} </if>
			<if test="userId!=null">and t.user_id = #{userId} </if>
			<if test="year!=null and year!=''">  and d.year = #{year} </if>
			<if test="month!=null and month!=''"> and d.month = #{month} </if>
		</where>
	</sql>
	
	<sql id="weekReporOrderBy">
		order by d.id desc,t.create_time desc
	</sql>
	
	
	<resultMap type="com.netease.okr.model.entity.WeekReportRel" id="WeekReportRelResultMap">
		<id column="id" property="id"/>
		<result column="key_result_id" property="keyResultId"/>
		<result column="week_report_id" property="weekReportId"/>
	</resultMap>
	
	<sql id="selectedWeekReportRelColumns">
		t.id,
		t.key_result_id,
		t.week_report_id
	</sql>
	
	<sql id="weekReporRelWhere">
		<where> 
			<if test="keyResultId!=null and keyResultId!=''">  and t.key_result_id = #{keyResultId} </if>
			<if test="weekReportId!=null and weekReportId!=''"> and t.week_report_id = #{weekReportId} </if>
		</where>
	</sql>
	
	
	<!-- ******************************************************************************************************** -->

	
	<!-- 查询所有的周报 -->
	<select id="getWeekReportList" resultMap="WeekReportResultMap">
		select 
		<include refid="selectedWeekReportColumns"></include> 
		from tb_week_report t 
		<include refid="weekReporJoinCon"></include> 
		<include refid="weekReporWhere"></include> 
		<include refid="weekReporOrderBy"></include>
	</select>
	
	
	<!-- 查询所有的周报关系 -->
	<select id="getWeekReportRelList" resultMap="WeekReportRelResultMap">
		select 
		<include refid="selectedWeekReportRelColumns"></include> 
		from tb_week_report_rel t 
		<include refid="weekReporRelWhere"></include> 
	</select>
	
	<!-- 查询已发布的周报 -->
	<select id="getWeekReportListByKeyResultId" resultMap="WeekReportResultMap">
		select
		<include refid="selectedWeekReportColumns"></include>
		from tb_week_report t
		<include refid="weekReporJoinCon"></include> 
		left join tb_week_report_rel tl on t.id = tl.week_report_id
		where tl.key_result_id=#{keyResultId} and t.status = 1
		<include refid="weekReporOrderBy"></include>
	</select>
	
	<!-- 查询其他员工周报数量（已发布） -->
	<select id="getWeekReportCount" resultType="int">
		select 
		count(DISTINCT t.date_id)
		from tb_week_report t
		where t.user_id = #{userId} and t.status = 1 
	</select>
	
	<!-- 查询最新一条周报 -->
	<select id="getNewWeekReport" resultMap="WeekReportResultMap">
		select
		<include refid="selectedWeekReportColumns"></include>
		from tb_week_report t
		<include refid="weekReporJoinCon"></include> 
		where t.user_id=#{userId} 
		order by t.date_id desc limit 1 
	</select>
	
	
	<insert id="addWeekReport" parameterType="com.netease.okr.model.entity.WeekReport" useGeneratedKeys="true" keyProperty="id">
		insert into tb_week_report(
			id,date_id,
			<if test="content!=null and content!=''">content,</if>
			<if test="status!=null">status,</if>
			<if test="userId!=null">user_id,</if>
			create_time,
			modify_time
		)
		values(
			#{id},#{dateId},
			<if test="content!=null and content!=''">#{content},</if>
			<if test="status!=null">#{status},</if>
			<if test="userId!=null">#{userId},</if>
			now(),
			now()
		)
	</insert>
	
	<insert id="addWeekReportRel" parameterType="java.util.List">
		insert into tb_week_report_rel(key_result_id, week_report_id, create_time, modify_time) values 
		<foreach collection="list" item="item" index="index" separator=",">
			 (
			 #{item.keyResultId},
			 #{item.weekReportId},
			 now(),
			 now()
			 )
		</foreach>
	</insert>
	
	<delete id="deleteWeekReportRel">
		DELETE FROM tb_week_report_rel WHERE week_report_id = #{weekReportId}
	</delete>
	
	
	<delete id="deleteWeekReport">
		DELETE FROM tb_week_report WHERE id = #{id}
	</delete>
	
	
	<update id="updateWeekReport" parameterType="com.netease.okr.model.entity.WeekReport">
		update tb_week_report
		<set> 
			<if test="content!=null and content!=''">content = #{content},</if>
			<if test="dateId!=null">date_id = #{dateId},</if>
			<if test="status!=null">status = #{status},</if>
			<if test="userId!=null">user_id = #{userId},</if>
			modify_time = now()
		</set>
		where id=#{id}
	</update>
	
	
</mapper>